ikimina.duckdns.org {
    # Send /auth requests to the backend on port 80 (Keeps the /auth prefix)
    handle /auth/* {
        reverse_proxy cooperative_backend:80
    }
    
    # Send /api requests to the backend on port 80 (Keeps the /api prefix)
    handle /api/* {
        reverse_proxy cooperative_backend:80
    }

    # Send absolutely everything else to the frontend on port 80
    handle {
        reverse_proxy cooperative_frontend:80
    }
}